@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Orbitron', sans-serif;

  background-color: #393f5f;

  

  
}

.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  height: 1200px;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)); */

  grid-template-areas:
  "h h"
  "n c"
  ;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.header {
  grid-area: h;
  background-color:#4d9e9b;
  border-radius: 0 0 16px 16px;
  /* border: 3px solid #f987ff83 ;
  border-top: none; */
}

.header img {
  padding: 5px;
  width: 50px;
  height: auto;
}

.nav {
  grid-area: n;
  background-color: #c4ffff91;
  padding: 10px;
  border-radius: 16px 16px 16px 16px;


}

nav div {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  background-color: cadetblue;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  transition: 0.3s ease-out;
}

nav div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.content {
  grid-area: c;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 200px 200px;
  padding: 10px;
  background-color: #b0acb0;
  border-radius: 16px 16px 16px 16px;

}

.content img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.profile-data {
  font-size: 20px;
  display: grid;
  gap: 10px;
  grid-template-rows: 20px 20px 20px 20px;
}


